[2012-04-18 22:01] kerrishotts opened #1 "Smooth the scrolling for the Bible View"
Currently the initial scroll on the table view is jerky when a new cell is loaded. This is most likely due to loading the notes and their heights on-demand. Interestingly after a scroll through, it becomes smooth.

The degree of jerkiness is highly dependent on the device generation, so an iPad 3 is not as bad as an iPad 1.

[2012-04-19 03:51] kerrishotts opened #2 "When defining a G# for the first time, the results view shows more than just the G#"
I suspect this has something to do with the order of method invocation when the view is loaded and then displayed.

[2012-04-19 03:53] kerrishotts opened #3 "Feature: Easier way to hit G#s on a long-press"
On the previous version, we would prevent long-presses over morphology terms so that the G# effectively had a larger hit area. Perhaps we should do something similar here?

[2012-04-19 03:57] kerrishotts opened #4 "Inline Notes don't respect iPad margins"
iPad Margins are 50px from the edges, not 5.

[2012-04-19 03:57] kerrishotts opened #5 "First verse feels like it needs a margin"
Some fonts can run up to and off the top of the page.

[2012-04-19 03:59] kerrishotts opened #6 "Suggestion: Bolded Greek?"

[2012-04-19 03:59] kerrishotts opened #7 "Font support for <iOS 5"
Should cull out the fonts available for <iOS 5.

[2012-04-19 04:00] kerrishotts opened #8 "Feature: Accessibility Issues"
There are several accessibility issues present in the app, mainly due to the mere fact that there's a lot going on visually. While it is all text, many issues are raised, such as how to render G#s, the morphology strings, and more. There's no easy answer to this, unfortunately, so this is unlikely going to be a v1.0 release.

[2012-04-19 04:01] kerrishotts opened #9 "Feature: Localization"
Initial v1.0 support is for English only, however other localization would be nice. The question that comes in to play, however, is that the right-side text is English-only, therefore would we need new texts to support localization, such as a French (Louis Segond?) or Spanish version?

[2012-04-19 04:02] kerrishotts opened #10 "Feature: Maintain Search History and Strong's Lookup History"
Could be useful to maintain a history of previous search terms.

[2012-04-19 04:03] kerrishotts opened #11 "Should the Morphology key be a separate tab?"
Currently one can access the morphology under the About tab, but it isn't terribly obvious that it is there.

[2012-04-19 04:05] kerrishotts opened #12 "Feature: Sync+Cloud Support"
Unlikely for v1.0 inclusion, but it would be nice to have as a point release down the road. The main problems are as follows:

iCloud works nicely with core data, but since we're using sqlite, we will need a synchronization method that can merge two or more documents in the cloud with the app's database. Handling deletes is another big issue as what is deleted on one app should be reflected on the

[2012-04-19 04:06] kerrishotts opened #13 "Do the highlight colors need to be toned down?"

[2012-04-19 04:06] kerrishotts opened #14 "Integrate TestFlight API"

[2012-04-19 04:08] kerrishotts opened #15 "Search bar in upper right hand corner might be nice"
Technically search can be entered via the tab bar icon(s) and via a long-press and a menu item. However, it'd be nice if it was in the upper right-hand corner too.

[2012-04-19 04:09] kerrishotts opened #16 "When a user has no highlights, notes, or history, the tableview is empty"
A better method would be to display something ala iBooks: "You have no highlights." or "You have no history,."

[2012-04-19 04:09] kerrishotts opened #17 "Bug: No check made for offline/online status"
Required for App store submission.

[2012-04-19 04:50] kerrishotts commented on #6
As of Build #3584, Greek text has its own font setting, which permits certain bold variants (ones that are still readable).

[2012-04-19 04:50] #6 closed, assigned to kerrishotts

[2012-04-19 04:55] kerrishotts commented on #5
As of build 3584, we apply a lineheight/2 margin to the top of each verse (and the equivalent at the bottom to be balanced). This should help somewhat.

[2012-04-19 04:55] #5 closed, assigned to kerrishotts

[2012-04-19 06:42] kerrishotts commented on #1
Build 3584 is the initial attempt at smoothing the scrolling. iPad3 is a little smoother. iPad1 is smoother sometimes, slower when making large scrolls.
- Cached cellHeights
- Cached the cells themselves (this may not be the best thing to do?)
- Ensured all labels had no clear background color

[2012-04-19 06:52] kerrishotts commented on #14
Integrated as of build 3584. May add further checkpoints and other items, but for now, this is closed.

[2012-04-19 06:52] #14 closed, assigned to kerrishotts

[2012-04-19 06:53] kerrishotts commented on #7
Technically, the new build (3584) should prevent any uninstalled font from rendering badly -- we'll default to Helvetica. Will test to see, and if so, close.

[2012-04-20 04:46] kerrishotts opened #18 "Bug: search doesn't work for Greek words"

[2012-04-21 05:05] kerrishotts commented on #18
Fixed as of Build #3651

[2012-04-21 05:05] #18 closed, assigned to kerrishotts

[2012-04-21 05:07] kerrishotts opened #19 "On iPhone/iPod, there is no way to dismiss the keyboard when wanting to cancel the search"

[2012-04-21 05:32] kerrishotts commented on #17
Using http://stackoverflow.com/a/7934636/741043, check is made as menu is displayed in Bible view. (As of build 3651). Taking to airplane mode resulted in "Explain" disappearing from the menu appropriately, though it did take a couple tries. The first time it did continue to appear. [Not sure the best way around that as it seems to take time to notice that there is no accessibility.]

[2012-04-21 05:32] #17 closed, assigned to kerrishotts

[2012-04-21 06:22] kerrishotts commented on #7
Well, defaulting to helvetica doesn't work so well. Therefore, we will need to limit < iOS 5 to "reasonable" font choices.
So far these include:
- for English: Baskerville, Georgia, Helvetica, Optima, NewsCycle, Verdana
- for Greek:   (all english, and bold variants)

[2012-04-21 06:30] kerrishotts opened #20 "Graphical Glitches on iOS < 5"

[2012-04-21 07:48] kerrishotts opened #21 "Add Full Screen Reading View"

[2012-04-21 07:48] kerrishotts commented on #21
As of build 3651, this is partially implemented.

[2012-04-21 08:29] kerrishotts opened #22 "When selecting a font in settings on iPhone, cancel is hard to hit"

[2012-04-22 00:01] kerrishotts opened #23 "Feature: color schemes (including night mode)"

[2012-04-22 03:47] kerrishotts commented on #21
Works great, as is, for iPad. For iPhone the 'Full Screen" text is too large -- needs to be an icon that communicates the full-screen intent.

[2012-04-22 03:49] kerrishotts commented on #1
ATM, we're about as smooth as I can get it. Which isn't to say it is smooth - it isn't. _sigh_. The only way I know to improve the speed is to implement the display as a drawRect instead of using views. That'll take some work. Probably a v2 release.

[2012-04-22 03:50] kerrishotts commented on #4
The more I get used to it, the more I'm okay with it. Closing as wontfix.

[2012-04-22 03:50] #4 closed, assigned to kerrishotts

[2012-04-22 04:55] kerrishotts commented on #22
Fixed, build 3698

[2012-04-22 04:55] #22 closed, assigned to kerrishotts

[2012-04-22 05:24] kerrishotts commented on #2
Fixed as of #3698

[2012-04-22 05:24] #2 closed, assigned to kerrishotts

[2012-04-22 20:16] kerrishotts opened #24 "Change the way define works for Greek words"
Either hide it entirely, or try to use the associated strong's word... Maybe a good way to do this would be to associate the word type and column with each word, so that we could know which kind of word we were over and which column we're in.

[2012-04-23 04:46] kerrishotts commented on #24
As of build #3712, a selected greek word does not permit a Define option in the menu. Further, since morphology words are no longer selectable, this provides a much greater hit area for the G#, which will show a define.

[2012-04-23 04:46] #24 closed, assigned to kerrishotts

[2012-04-23 04:47] kerrishotts commented on #3
As of build #3712, morphological terms are no longer selectable; therefore the G# has essentially twice the height to be selected.

[2012-04-23 04:47] #3 closed, assigned to kerrishotts

[2012-04-23 04:48] kerrishotts commented on #13
As of build #3712, the highlight colors have been given an alpha of 33%, which (to me) helps considerably. Further, the labels in each cell have an effective alpha of 66%, though I'm unsure if I like the effect.

Selection color has also been toned down and made more distinct from a blue highlight.

[2012-04-23 05:07] kerrishotts commented on #21
Changed to an icon; should help the iPhone view out.

[2012-04-23 05:25] kerrishotts commented on #19
As of build #3731, searching initiates a gray-out of the table; clicking here will dismiss the keyboard.

[2012-04-23 05:25] #19 closed, assigned to kerrishotts

[2012-04-23 05:26] kerrishotts commented on #15
Moving to v2.

[2012-04-23 05:26] kerrishotts commented on #11
Too many tabs will force the iPhone to show a ... button. Probably not good. Closing for now.

[2012-04-23 05:26] #11 closed, assigned to kerrishotts

[2012-04-23 06:00] kerrishotts commented on #16
As of build #3753, a notification appears when there are no search results (for Bible search and Strongs Search), and also when the History, Highlights, or Notes navigation bar is empty.

[2012-04-23 06:00] #16 closed, assigned to kerrishotts

[2012-04-23 06:01] #21 closed, assigned to kerrishotts

[2012-04-23 06:16] kerrishotts commented on #20
Build # 3769 fixes the most egregious of the issues, namely the Bible View (at start) being 20px too low.

[2012-04-23 06:34] kerrishotts commented on #20
Not sure how to fix the bad border color on the settings tabs for 4.3. closing for now.

[2012-04-23 06:34] #20 closed, assigned to kerrishotts

[2012-04-24 04:04] kerrishotts opened #25 "Menu should appear with the selected word, if possible"

[2012-04-24 04:05] kerrishotts opened #26 "Try to avoid the delay when switching to the bible view"
The only time there should be a re-render is if settings change

[2012-04-24 04:09] kerrishotts opened #27 "Does the iPad landscape mode need to fill the page?"
If not, it could match the portrait width, thus not needing the delayed reaction to a rotation change.

[2012-04-24 07:10] kerrishotts commented on #25
Fixed as of #3808.

[2012-04-24 07:10] #25 closed, assigned to kerrishotts

[2012-04-24 07:10] kerrishotts commented on #26
Fixed as of #3808. Using "dirty" flag; Settings is one view that sets this, so as long as you don't go to Settings, switching between views (like search and strong's) should be instant.

[2012-04-24 07:10] #26 closed, assigned to kerrishotts

[2012-04-24 07:12] kerrishotts opened #28 "Need a slick way to indicate the currently selected word on a longpress"
Previously was using the background color: not feasible due to performance tweaks. Better idea: create a new view, animate it in, then after a second or so, animate it back out.

[2012-04-25 17:17] kerrishotts commented on #1
As of build # 3826, implemented. Not quite perfect, but quite smooth even on older devices. We're using drawRect, so this is likely about as good as we can get.

[2012-04-25 17:17] #1 closed, assigned to kerrishotts

[2012-04-26 17:41] kerrishotts opened #29 "2 Corinthians has 13 chapters, not 12."

[2012-04-27 05:51] kerrishotts commented on #29
As of build 3871, this is corrected.

[2012-04-27 05:51] #29 closed, assigned to kerrishotts

[2012-04-27 06:06] kerrishotts commented on #7
As of build 3874, the list presented to the end-user is different for < iOS 5.

[2012-04-27 06:06] #7 closed, assigned to kerrishotts

[2012-04-27 06:06] kerrishotts commented on #28
Added in build #3874.

[2012-04-27 06:06] #28 closed, assigned to kerrishotts

[2012-04-27 06:07] kerrishotts commented on #13
As of build #3874, the highlight colors are now uniform in the cell, which helps. Labels no longer have highlights. At this point, we'll close.

[2012-04-27 06:07] #13 closed, assigned to kerrishotts

[2012-04-27 06:08] kerrishotts commented on #27
I prefer the fact that landscape will fit more material length-wise. For now, we'll keep it with different sizes based on orientation.

[2012-04-27 06:08] #27 closed, assigned to kerrishotts

[2012-04-29 22:31] kerrishotts opened #30 "Some strong's #s render [DQ] where there should be a double quote."

[2012-04-29 22:34] kerrishotts opened #31 "Freeze encountered when searching Strong's with AirPlay Mirroring."
Required a restart of the App. Occurred after about 8 minutes of recording the screen from the Mac. Not sure if was the interplay between the Mac (using Reflector) and the iPad or something else. Something to think about, anyway.

[2012-04-29 22:38] kerrishotts opened #32 "Search needs to support multiple words"
Right now, if you search for "Paul Abraham", you are searching for that exact phrase. Ideally, this needs to turn into either an AND or OR search that would return results containing either all verses with Paul AND Abraham in it, or all verses with either Paul OR Abraham.

The problem is presenting such an advanced view to the user. There's no simple way to display such a search to the end user, a

[2012-04-29 23:08] kerrishotts opened #33 "About Screen needs reworked before submission."

[2012-04-29 23:09] kerrishotts opened #34 "Remove UDID Prior to Release"

[2012-04-29 23:09] kerrishotts commented on #34
As of build #3890, this is removed.

[2012-04-29 23:09] #34 closed, assigned to kerrishotts

[2012-04-30 00:24] kerrishotts commented on #32
As of build #3900, this feature is implemented. Here's how it works:
- "Father Abraham" is an exact search.
- Father%Abraham is a keyword search where Father must be found, and Abraham must be found following Father.
- Father +Abraham (or Father .Abraham) is an AND: Father AND Abraham must be found, though order is not important.
- Father -Abraham (or Father !Abraham) is a NAND: Father must be fou

[2012-04-30 00:24] #32 closed, assigned to kerrishotts

[2012-04-30 00:37] kerrishotts commented on #30
Fixed in build #3902.

[2012-04-30 00:37] #30 closed, assigned to kerrishotts

[2012-04-30 00:38] kerrishotts opened #35 "Strong's Lookup didn't show previous search term upon startup"

[2012-04-30 00:38] kerrishotts commented on #35
As of Build #3902, fixed.

[2012-04-30 00:38] #35 closed, assigned to nobody

[2012-05-09 03:43] #33 closed, assigned to kerrishotts

[2012-05-19 22:27] kerrishotts opened #36 "CRASH LOG: *** -[__NSArrayM objectAtIndex:]: index 0 beyond bounds for empty array"
[code]

User 1:

[code]

User 2:

[code]

[2012-05-19 22:28] kerrishotts opened #37 "CRASH LOG: -[UITableView scrollToRowAtIndexPath:atScrollPosition:animated:]: row (20) beyond bounds (0) for section (0)."
[code]

[2012-05-19 22:33] kerrishotts commented on #36
Appears related, somehow, to obtaining the top visible verse from the Bible View Controller via visible rows. Either there are no rows visible (?) or closing when in another view means these rows aren't visible, and thus the crash? Will need to at least add a check to determine if there are any indexPathsForVisibleRows before using objectAtIndex on it.

[2012-05-19 22:34] kerrishotts commented on #37
This one is odd -- it looks like it is trying to move to verse 20, but that there are no rows in the view? Is there a potential chapter reference missing that would generate no rows? Additionally, what happens if the view is left at the bottom of the page -- and then we try to scroll there upon coming back, say from settings, but somehow are in a different reference -- I'd guess a crash. Need to h

[2012-06-11 19:35] kerrishotts opened #38 "Greek Diacritics"
Finding a usable source is difficult. Trying crosswire to see if their modules have it. If not, we may simply be without.

[2012-06-11 19:38] kerrishotts opened #39 "Option to hide Strong's from parsed editions"
Need a way to enable Strong's lookup though. Maybe attach the # to the word internally?

Also, would this eliminate the need for unparsed editions?

[2012-06-11 19:50] kerrishotts opened #40 "Add annotations to strong's #s"

[2012-06-11 19:58] kerrishotts opened #41 "Search annotations"

[2012-06-11 19:59] kerrishotts opened #42 "Search in navigation bar"
When showing verses, this would search the content of those verses; when showing annotations, it would search the notes (and verses?)

[2012-10-08 18:50] AdamDenoon commented on #38
Logos.com has an electronic copy of the Wescott & Hort, Tischendorf, and other copy-and-pastable Greek texts containing diacritics. (Download the logos app for free... Free online copies included)

[2012-10-08 18:53] AdamDenoon opened #43 "(BUG) Copy and Paste not working properly"
(BUG) Copying and pasting is not working. Copying a verse actually puts NEXT verse on the clipboard. If last verse of Chapter is copied, app crashes.  If multiple verses are selected (even in correct order), they are pasted grossly out of order. Other than that, looks good. Thanks!

[2012-10-08 18:55] AdamDenoon opened #44 "(Minor Fix) Galatians"
The book of Galatians is misspelled.

[2012-10-08 18:56] AdamDenoon opened #45 "(BUG/Feature Error) Strong's Lookup"
In Strong's hierarchy, listings are incorrect. A non-primary word will say "From (G####) and (G####)". These Strong's numbers always match each other and are incorrect.

[2012-10-22 21:24] AdamDenoon commented on #45
To clarify: the Strong's numbers are correct, but the words in parentheses "( )" do not reflect the word that the Strong's numbers represent.

[2012-10-22 22:07] AdamDenoon commented on #43
To fix the "NEXT" verse issue (which actually copies the next verse, or crashes if last verse of Chapter is selected), make the following changes in your "gBible>Controllers>Bible Controller>PKBibleViewController.m" implementation file (in your "-(void) copySelection: (id)sender" method):

[theText appendString:[currentEnglishChapter objectAtIndex:theVerse]];

AND

[theText appendString:[currentGr

[2012-12-01 06:58] hightech2013 opened #46 "UIMenuItem "Define" not working correctly in iOS 6 iPad"
In the PKBibleViewController.m the following line of code is not working correctly for iOS 6 iPad but it does for iOS 6 iPhone.

ourMenu.menuItems = [NSArray arrayWithObjects: [[UIMenuItem alloc] initWithTitle:@"Define"    action:@selector(defineWord:)],

When "Define" is selected in the iOS 6 iPad simulator we get a popover screen, on which on the top word "Dictionary" and button "Done" are parti

[2012-12-04 09:47] kerrishotts opened #47 "Menus only work once"
Seems to be ios6 related

[2012-12-04 09:56] kerrishotts commented on #46
Thanks for the report. The definition view comes straight out of the iOS libraries, but I may have to monkey with the bounding frame a bit.

[2012-12-04 09:58] kerrishotts commented on #45
Thanks for the report. I'm not entirely sure I understand what you're referring to - perhaps give me a specific # and I can see how it compares. The displayed text comes straight from the electronic source, though it is not inconceivable that there are errors there.

[2012-12-04 09:59] kerrishotts commented on #44
Spelling. Not my strong-suit.

[2012-12-04 10:00] kerrishotts commented on #43
Thanks for the report and suggested fix. The out-of-order is really confusing... I'll have to play around with it and see why it is getting messed up.

[2012-12-04 10:03] kerrishotts opened #48 "Settings display error"
If scroll up/down really fast it is possible to see the font in the check mark fields. Perhaps an ios6 thing, but seems that I'm not clearing the label appropriately.

[2012-12-04 16:06] hightech2013 commented on #46
That is correct. All you have to do is fix the UIReferenceLibraryViewController bounding for an iPad iOS 6 only.

[2012-12-04 16:06] #46 closed, assigned to kerrishotts

[2012-12-04 19:49] AdamDenoon commented on #43
Mr. Shotts,

[code]

PS If you ever figure out how to replace the Greek text you have with some with diacritics, you'll be the first app I'll have ever seen (in much searching) that has the Greek text, the English text, parsing, definitions, and diacritics in one app! If that was ever the case, I'd find every professor and teacher I could around me, and if they have an iDevice, ensure that they kn

[2012-12-05 06:34] kerrishotts commented on #48
Fixed.

[2012-12-05 06:34] #48 closed, assigned to kerrishotts

[2012-12-05 06:35] kerrishotts commented on #44
Fixed. Thanks for the report!

[2012-12-05 06:35] #44 closed, assigned to kerrishotts

[2012-12-05 08:19] kerrishotts commented on #47
Appears if general > accessibility > speak selection is on.

[2012-12-05 14:33] AdamDenoon commented on #44
You're welcome!

Sent from my iPad

On 2012-12-05, at 12:35 AM, Kerri Shotts notifications@github.com wrote:

[2012-12-05 22:44] kerrishotts opened #49 "Shadows disappear when switching between Bible and Search/Strongs (and back again)"
The shadows are persistent across Settings and About.

Probably just need to call the shadow calculations when the view appears.

Reported by @AdamDenoon.

[2012-12-05 22:46] kerrishotts opened #50 "Doing multiple searches and hiding the keyboard occasionally leaves results grayed-out"
Reported by @AdamDenoon

[2012-12-05 22:47] kerrishotts commented on #45
Comment from @AdamDenoon (in issue #43): As for the Strong's numbers not working, what should say, in Mark 2:4 for example, "εξορύσσω (G1846): from G1537 (εκ) and G3736 (ορύσσω)", it merely repeats the whole word: "εξορύσσω (G1846): from G1537 (εξορύσσω) and G3736 (εξορύσσω)". It would be neat if you could press those root words and get definitions for them right in the app, and Copy and paste fro

[2012-12-05 22:57] kerrishotts commented on #43
I'm flattered you like the app so much, and have taken the time to suggest improvements. I also want this app to be the best it can be, so there's no worry about offending or hassling me with ideas -- I'll gladly take any ideas, bug reports, etc., that you can think of.

Regarding some of the above, I've fixed the copy & paste off-by-one issue, and also fixed the out-of-order issue. Apparently the

[2012-12-05 22:57] #43 closed, assigned to kerrishotts

[2012-12-05 23:02] kerrishotts commented on #38
Biblos provided a diacritical version for WH. Whether the ones provided by logos would be suitable in terms of their license would be a question mark for the others. I'll check it out though.

[2012-12-05 23:03] AdamDenoon commented on #49
That sounds like it would work (I run into similar issues consistently...
I'm forgetful lol)

On Wed, Dec 5, 2012 at 4:44 PM, Kerri Shotts notifications@github.comwrote:

##

[2012-12-05 23:03] kerrishotts commented on #38
v1.1 will have WH diacritics. Will need to come up with a suitable method for searching with those diacritics. I'm not sure if it would be preferable to "strip" the diacritics during search, or require diacritics during search (the latter is obviously easier to program). Furthermore, the transliteration needs to be updated to support the diacritics.

[2012-12-05 23:06] kerrishotts commented on #39
Added in v1.1; removes unparsed editions except for TIS (for which I don't have a parsed edition).

Need to add G# to the word internally so we can define on the greek word.

[2012-12-05 23:07] kerrishotts commented on #23
Really, really, really want to try to get this into v1.1 -- or at least a basic version of it (perhaps Day, Night, Sepia).

[2012-12-05 23:09] kerrishotts opened #51 "Add Pasteboard support to Strong'sResults"
Requested by @AdamDenoon

This would definitely be handy to have. I'd like to see it in 1.1, though it may be a 2.0 feature if there's not time.

[2012-12-05 23:10] AdamDenoon commented on #43
Your professionalism is awesome! I'm glad you figured out hte sorting on
the copy-paste... this will be a huge asset to my work! As for the
diacritics, I'm on the edge of my seat for the rest :) (I don't use the
Wescott-Hort because they seem to omit and change certain things... I
realize they use different manuscripts but it seems a bit "watered down" in
some places, and leaves out some (sometime

[2012-12-05 23:11] AdamDenoon commented on #51
Take your time! Don't worry about rushing (rushing prevents me from having
those random "ah-ha!" moments... or lessens them significantly)

On Wed, Dec 5, 2012 at 5:09 PM, Kerri Shotts notifications@github.comwrote:

##

[2012-12-05 23:11] kerrishotts opened #52 "Allow long-presses on Strong's Numbers in Strong's Search to retrieve definition for the pressed #"
Suggested by @AdamDenoon.

Great idea. I'll have to think up a good way to implement it -- it's easy enough in the Bible view because every word (and thus G#) is split out into its own little object. In the search results, however, it's part of a long piece of text, so I'll have to figure out some of the text metrics in order to determine where the user tapped and which part of the text they tappe

[2012-12-05 23:13] kerrishotts opened #53 "Second Strong's # in Compound Verbs returns no results"
Reported by @AdamDenoon

At this point, it's a known issue that I would love to fix. Unfortunately the source I'm using for the text doesn't include those G#s. If you have an idea for a source that does, I'd love to hear about it.

[2012-12-05 23:14] kerrishotts commented on #45
Moved the suggestions above into their own issues.

[2012-12-05 23:15] kerrishotts commented on #45
Regarding the Greek word in ()s -- interesting. I will have to check my source text and see if it's the root of the problem or if I did something in the translation to the app that caused the issue. If it's in the source text, I'll have to consider finding another source.

[2012-12-05 23:19] AdamDenoon commented on #52
Could you use a table instead of a long line of text, or would that be more
of a pain than using metrics?

On Wed, Dec 5, 2012 at 5:11 PM, Kerri Shotts notifications@github.comwrote:

##

[2012-12-05 23:20] AdamDenoon commented on #53
I'm stuck on that one :P Sorry!

On Wed, Dec 5, 2012 at 5:13 PM, Kerri Shotts notifications@github.comwrote:

##

[2012-12-06 21:23] kerrishotts commented on #43
Hmm; I just checked and there's nothing new on TestFlight.

If you want, you can send me your email to kerrishotts@gmail.com and I'll send out an invite that way.

---

~Kerri Shotts, photoKandy Studios LLC
   Wanna be our neighbor? Our Facebook page & Twitter feed.

On Dec 5, 2012, at 5:10 PM, AdamDenoon notifications@github.com wrote:

[2012-12-06 21:43] AdamDenoon commented on #43
Alright :)

Sent from my iPad

On 2012-12-06, at 3:23 PM, Kerri Shotts notifications@github.com wrote:

[2012-12-15 03:58] kerrishotts commented on #36
Hopefully fixed by latest commit.

[2012-12-15 03:58] #36 closed, assigned to kerrishotts

[2012-12-15 04:01] kerrishotts commented on #37
Hopefully fixed by latest commit.

[2012-12-15 04:01] #37 closed, assigned to kerrishotts

[2012-12-15 04:36] kerrishotts commented on #45
Ok -- appears to be a bug in the source document (https://code.google.com/p/open-scriptures/source/browse/trunk/data/strongs-dictionaries/greek/strongs-greek-dictionary.js?r=298) as generated from the script at https://code.google.com/p/open-scriptures/source/browse/trunk/data/strongs-dictionaries/greek/StrongsGreekDictionaryXML-to-JSON.pl?r=298.

Will have to regenerate sql from original XML.

[2012-12-15 04:38] kerrishotts commented on #49
Appears fixed as of latest commit.

[2012-12-15 04:38] #49 closed, assigned to kerrishotts

[2012-12-15 04:51] kerrishotts commented on #50
For me, this seems to occur if I dismiss the keyboard without actually searching; the dark layer remains, and then tapping the search field creates it again (ad infinitum). Tapping the dark layer will only dismiss the last one, since that's all it keeps track of. Added code to detect when the search field stops editing (as opposed to only when it starts editing) to catch dismissals without searche

[2012-12-15 04:51] #50 closed, assigned to kerrishotts

[2012-12-15 05:14] kerrishotts commented on #52
Found an open-source drop-in for UILabel that might do this trick... implementing with it to see how it goes. It's at https://github.com/laullon/GLTapLabelDemo

[2012-12-15 06:51] kerrishotts commented on #52
Seems to do a good job with a few modifications. In latest commit.

Currently the feature acts on a tap, not a long-press. The long-press is currently being used for the clipboard.

[2012-12-15 06:51] #52 closed, assigned to kerrishotts

[2012-12-15 06:51] kerrishotts commented on #51
For 1.1, a long-press on the row will copy it to the clipboard, and throw an alert. For 2.0 might put this into a menu, along with defining the word underneath, but for now it works.

[2012-12-15 06:51] #51 closed, assigned to kerrishotts

[2012-12-15 09:08] kerrishotts commented on #39
Scratching adding G# internally for 1.1

[2012-12-15 09:08] #39 closed, assigned to kerrishotts

[2012-12-15 09:09] kerrishotts commented on #53
Moved to 2.0

[2012-12-15 09:10] kerrishotts commented on #38
Transliteration has been updated to support WH's diacritics; the remainder are punted to 2.0.

[2012-12-15 09:10] kerrishotts commented on #47
Punted to 2.0

[2012-12-15 09:11] kerrishotts commented on #23
Last commits have an implementation of this with four themes. Colors need tuning.

[2012-12-17 12:42] jcesarmobile opened #54 "import operation alert"
If you go to settings and click on any of the import options, you get an alert "Import Operation Done!" even if you aren't connected to itunes.
So, if you aren't connected the import should fail and show an error instead "Done!"

[2012-12-17 12:45] jcesarmobile commented on #9
I can help with the spanish translation

[2012-12-18 18:29] kerrishotts commented on #9
That would be fantastic!

Also -- do you know of any well-received public-domain (or other nicely licensed) Spanish Language editions for the right-side text? I'm not familiar enough with Spanish to know what's seen as a good translation that would be equivalent to YLT &/or KJV.

[2012-12-18 18:49] jcesarmobile commented on #9
I don't know any
According to this web (http://www.biblegateway.com/) there are 14 spanish bibles.

[2012-12-18 19:25] jcesarmobile opened #55 "app crash on settings screen"
2-3 seconds after entering on the settings screen, the app crash

it was working on the previous release

device: iPad 2 with 5.0.1 and iPod touch 5.1

[2012-12-18 19:33] jcesarmobile opened #56 "text overlaps on the search screen"
![la foto](https://f.cloud.github.com/assets/1637892/20228/bfbb933e-4949-11e2-8f01-e60a7b7d53e8.PNG)

iPad 2 with iOS 5.0.1 and  iPod touch 5.1

[2012-12-19 07:49] kerrishotts commented on #45
Fixed in latest commit. :-)

[2012-12-19 07:49] #45 closed, assigned to kerrishotts

[2012-12-20 21:59] kerrishotts commented on #55
Hm. That shouldn't happen, obviously.

Thanks for the report -- I'll see what's up.

[2012-12-20 22:00] kerrishotts commented on #56
Ohhhh, that's so not right.

Looks fine on my iPad 3 w/ iOS 6. Maybe it's an iOS 5 deal... Will try on one of those devices.

[2012-12-20 22:04] kerrishotts commented on #54
Hmmm. All the import operation does is verify that there's an import.dat file. If there is one, it'll happily import til the cows come home, itunes connected or not. Is there even a way to see if the device is connected to iTunes?

I can't realistically delete the file upon a successful import, as a user may be doing the import by stages. Perhaps if the import file is more than a few minutes old,

[2012-12-20 22:37] kerrishotts commented on #55
Looks like this is the crash report from TestFlight:

-[UITableView setSectionIndexColor:]: unrecognized selector sent to instance 0xc9c5000

0 CoreFoundation 0x37ee38bf **exceptionPreprocess + 163
1 libobjc.A.dylib 0x37a2f1e5 objc_exception_throw + 33
2 CoreFoundation 0x37ee6acb -[NSObject doesNotRecognizeSelector:] + 175
3 CoreFoundation 0x37ee5945 ___forwarding_** + 301
4 CoreFoundation 0x37e40

[2012-12-21 09:09] kerrishotts commented on #55
Fixed in latest commit.

[2012-12-21 09:09] #55 closed, assigned to kerrishotts

[2012-12-21 09:09] kerrishotts commented on #56
Should be fixed in latest commit.

[2012-12-21 09:09] #56 closed, assigned to kerrishotts

[2012-12-21 09:10] kerrishotts commented on #38
Searching has been updated in 1.1 to be diacritic and case insensitive. It also handles searching based on transliteration, if enabled, but it's really slow.

[2012-12-21 10:40] kerrishotts opened #57 "Swiping in bible view crashes"
Well... That's new. Why would it crash on a swipe, but not navigation?

[2012-12-21 20:24] kerrishotts commented on #57
Fixed. Naming collision. ObjC only threw warnings, not errors... !

[2012-12-21 20:24] #57 closed, assigned to kerrishotts

[2012-12-21 22:21] kerrishotts commented on #23
Colors seem to be pretty good at the moment. Closing for now.

[2012-12-21 22:21] #23 closed, assigned to kerrishotts

[2012-12-21 22:22] kerrishotts commented on #12
Perhaps going with Parse would work better?

[2012-12-21 22:23] kerrishotts commented on #10
In latest commit. App automatically copies old history to new format.

[2012-12-21 22:23] #10 closed, assigned to kerrishotts

[2012-12-21 22:24] kerrishotts commented on #42
Closed as dup of #15

[2012-12-21 22:24] #42 closed, assigned to kerrishotts

[2012-12-21 22:50] jcesarmobile commented on #54
and when is the import.dat file created? I deleted the app, installed the latest, clicked import and got the "Done!" message. At this point, should the import.dat exists?

Connecting the iPad to itunes, I can see, there is no import.dat before tapping import, it is created when the "Done!" message is shown

[2012-12-21 22:58] kerrishotts commented on #54
import.dat should be created by the end-user (using Export, and then renaming the file using itunes), so upon a delete and re-install, yes -- the operation should fail since there is no import.dat. I'll have to fix that up.

[2012-12-23 05:03] kerrishotts commented on #54
Fixed. Found out that the code I did have in place was trying to check for a database, but sqlite was creating it automatically -- therefore, no error. I've added error messages now where appropriate, so the user should get a nice notice if they don't have an import.dat file themselves. In current commit.

[2012-12-23 05:03] #54 closed, assigned to kerrishotts

[2012-12-25 17:28] hightech2013 commented on #46
Happy Holidays and best of wishes to you on continue developing your apps. It is challenging task that requires a lot of time. But at the end you never know what could be the outcome. Good luck...

On Dec 4, 2012, at 4:56 AM, Kerri Shotts wrote:

[2012-12-29 20:29] kerrishotts commented on #46
Fixed by rendering a popup instead.

[2013-01-02 07:30] kerrishotts commented on #41
I'm tempted to put this functionality right in the left-hand sidebar for notes rather than in the Search View.

[2013-01-02 07:32] kerrishotts commented on #46
Oh, By the way, I'm not sure if I invited you to the beta test or not. If you'd like to beta test (no pressure, though), just send me your email address at kerrishotts@gmail.com, and I'll send you an invite from TestFlight.

[2013-01-06 06:34] kerrishotts commented on #47
Back to 1.1

Fixed. Turns out you need to reset the menu items prior to displaying them -- apparently they get undone somehow when this option is turned on.

[2013-01-06 06:47] #47 closed, assigned to kerrishotts

[2013-01-07 17:21] jerryevo opened #58 "Other app stores"
I suggest to put gBible to other App Stores - for example I can't buy it in Polish App Store

[2013-01-08 20:20] kerrishotts commented on #58
I am exploring widening the release, however I must be sure about the KJV
copyright status in each region. For example, the UK claims Crown Copyright, and
as such this can not be released there without either removing the KJV or
preventing access to it.

So it is definitely my intent to broaden the distribution, but it will take some time and
research in order to figure out the status of the KJV.

[2013-01-08 22:28] jerryevo commented on #58
Hi again,

I'm from Poland and KJV is completely unusable here because we are speaking Polish :)
But I'm interested in greek bible.
I think that KJV is not covered by any copyright because it is too old :)

Regards,
Jarek

Wiadomoœæ napisana przez Kerri Shotts notifications@github.com w dniu 8 sty 2013, o godz. 21:20:

[2013-01-08 22:46] kerrishotts commented on #58
Do you know of a freely available public-domain Polish Bible that aims for a literal
translation? I'm exploring the future option of having downloadable Bibles, but not
native speaker of your language, I don't know what translations would be
equivalent to, say, the KJV or YLT where they are aiming more for a literal translation
than a paraphrase. (Not that I'm against either -- just that a literal

[2013-01-08 22:55] jerryevo commented on #58
Much better is to "cache" Bible from internet.
Trick is that when browsing verses they are taken directly from internet server which has this Bible translation.
You can give user chooice to pre download all Bible but still it is not from your server.

For Polish translations you can use: http://www.biblia.info.pl/biblia.php
There are most interesting Polish translations:
Biblia Tysi¹clecia
Biblia

[2013-01-09 06:05] kerrishotts commented on #58
I just wanted to let you know that I've checked in the Localizable.strings file for Polish if you want to have a crack at it. The about.html also needs translated, but only do so if you feel like it.

Also -- would you like to be a beta tester? If so, just send me your email to kerrishotts@gmail.com so I can send you a TestFlight invite.

[2013-01-09 06:07] kerrishotts commented on #58
Latest commit (Build 4775) has initial support for region-locking the KJV edition. Current exclusion areas include the UK, the Eurozone, Canada, and Australia. The latter under the quite-possibly-erroneous assumption that they would need to respect the UK's copyright if the UK ever decided to enforce it. Not sure how the Eurozone would deal with that if it happened, but better safe than sorry.

[2013-01-09 06:08] kerrishotts commented on #9
Initial localization support is in Build 4775 (latest commit). The Localizable.strings and about.html need translated for each language that we would like to see added.

@jcesarmobile If you'd like to take a stab at the Spanish translations, I've got a es.lproj folder ready and waiting. :-)

[2013-01-09 20:33] jcesarmobile commented on #9
Do I have to translate the Font Names? I'm used to use the english names in other programs, I'm not sure if they have a translation

[2013-01-09 21:30] kerrishotts commented on #9
@jcesarmobile Good question -- I wasn't sure how they were dealt with in other languages, so if you're used to seeing the English font names, go ahead and leave them as is. I added it as a "just-in-case" measure... :-)

[2013-01-09 21:31] kerrishotts commented on #58
Latest commit (Build 4776) removes region locking for CA and AU. I'm leaving the rest of the Eurozone for now. I doubt it's terribly problematic as it would ultimately be preferable to have a native language Bible where needed.

[2013-01-09 21:52] kerrishotts opened #59 "Bible Downloads (with support for non-English versions)"
This feature would allow the user to download a non-English (or alternative English) Bible for use within the application. I see this having more use in non-English countries and territories, but it could be useful in English areas to allow additional Bibles (such as the WEB).

I don't want to rely on online Biblical APIs as they can all to quickly turn off the pipes, and they also require a const

[2013-01-09 22:41] jerryevo commented on #58
Hi,

Attached you have localizable.strings translated to Polish.
I'm not sure what you mean as "passage"

BTW: there are missing some book names:
Numbers
Ecclesiastes

I suggest changing icon to the one not having cross - not all Bible lovers are Cross lovers

Regards,

Jarek

Wiadomoœæ napisana przez Kerri Shotts notifications@github.com w dniu 9 sty 2013, o godz. 07:05:

[2013-01-09 23:16] kerrishotts commented on #58
Thanks!

I don't seem to see the attachment, though.

Thanks for the heads-up on the missing books… The keys were typed by hand, so I knew I'd miss one or two somewhere. My eyes aren't what they once were anymore!

As to "passage" -- I'm referring to a verse reference; for example, John 3:16 is considered a passage.

What icon are you referring to? The application icon? or the cross symbol in the

[2013-01-09 23:19] kerrishotts opened #60 "When copying verses, the verse numbers are ordered as strings, not numbers. (Reported by Adam Denoon)"
Thanks to Adam Denoon for this one.

If you copied verses that had single-digit verse #s and double-digit verse #s, they were in alphabetic, but not number order, as in:

1
10
11
12
2
3

Who knew that was the default order for the NSArray sort methods?

[2013-01-09 23:20] kerrishotts commented on #60
I've changed to using

[code]

This seems to fix the issue for me.

[2013-01-09 23:21] jerryevo commented on #58
Sending again - this time zipped.

I was talking about application icon.

Jarek

Wiadomoœæ napisana przez Kerri Shotts notifications@github.com w dniu 10 sty 2013, o godz. 00:16:

[2013-01-09 23:44] kerrishotts commented on #58
Ok, I think GitHub is getting in the way here. Try sending the translation file to my email instead: kerrishotts@gmail.com.

As to the application icon, well… There's a story there, and from the sounds of it, you were affected by a copycat.

The proper application icon has three greek letters on a blue background with some chrome around the edges (you can see it on the iTunes app page: https://itu

[2013-01-09 23:53] jerryevo commented on #58
I didn't instal your app nor copycat app - I was just looking on icon.
Because I had Polish App Store account I'm not able to buy in US App Store :)

Wiadomość napisana przez Kerri Shotts notifications@github.com w dniu 10 sty 2013, o godz. 00:44:

[2013-01-09 23:55] kerrishotts commented on #58
Okay -- I'm glad you aren't affected by the copycat. You must've seen his icon, though, instead; mine doesn't have a cross in it anywhere.

[2013-01-10 00:05] kerrishotts commented on #58
Ha -- My headache must be getting in the way of my actual thinking... of course you couldn't install it, or you wouldn't have opened the issue here...

I must go get some pain meds, apparently.

Also -- received your translations... Beautiful! Thank you SO much. You'll get a gift code for the 1.1 version when it goes online. I'll be opening 1.1 to all areas (I think I've satisfied the KJV copyrigh

[2013-01-10 01:07] kerrishotts commented on #60
Fixed in latest build (4790)

[2013-01-10 01:07] #60 closed, assigned to kerrishotts

[2013-01-10 01:10] kerrishotts commented on #9
Build 4790 has Polish. :-) Thanks go to @jerryevo.

[2013-01-10 01:11] kerrishotts commented on #58
Build 4790 has Polish. Thanks to @jerryevo. They look gorgeous!

[2013-01-11 04:04] kerrishotts opened #61 "Support Cmd-C For Copy from a Bluetooth Keyboard"
Reported by @AdamDenoon.

I'm not entirely certain if it's possible without implementing a hidden UITextView or some such, but it might be enough to respond to the copy: selector.

[2013-01-11 05:05] kerrishotts commented on #61
First attempt in latest commit to handle the Cmd-C from a bluetooth keyboard. Not sure if this'll take or not.

[2013-01-11 18:52] kerrishotts commented on #61
Report from @AdamDenoon that this works.

Closing.

[2013-01-11 18:52] #61 closed, assigned to kerrishotts

[2013-01-17 00:27] kerrishotts commented on #9
Latest build has Spanish! :-) Thanks to @jcesarmobile.

[2013-01-18 21:39] kerrishotts opened #62 "When copying Strong's result, there's no newline between G# and Lemma"
Reported by @AdamDenoon.

[2013-01-18 21:42] kerrishotts opened #63 "Search Results cut off (as in Rom 4:16)"
Reported by @AdamDenoon

[2013-01-18 21:43] kerrishotts opened #64 "Acts 7:32 typo (Abrham); KJV Text"
Reported by @AdamDennon

[2013-01-18 21:45] kerrishotts opened #65 "Feature Request: Indicate # of returned search results"
Requested by @AdamDenoon.

[2013-01-18 21:46] kerrishotts opened #66 "Word Usage Tools"
From @AdamDenoon: Maybe, in the future, more tools for word usage statistics could be implemented as well... I've seen ones where there is a small graph of what percentage of each english interpretation is used for one Greek word, and where to find each usage, and it was very useful! Great for use in finding patterns in the Word and preaching in general!!:D

[2013-01-19 00:31] kerrishotts commented on #64
Fixed, Build 4894

[2013-01-19 00:31] #64 closed, assigned to kerrishotts

[2013-01-19 00:31] kerrishotts commented on #63
Fixed in latest build.

[2013-01-19 00:31] #63 closed, assigned to kerrishotts

[2013-01-19 00:31] kerrishotts commented on #62
Fixed in latest build

[2013-01-19 00:31] #62 closed, assigned to kerrishotts

[2013-01-19 13:14] jcesarmobile opened #67 "Highlights work different now?"
I can't upload a photo right now, but has the highlight changed the way they work?
In previous versions All the text was surrounded by the highlight color, but in the latest version the text isn't highlighted, just the left margin have the highlight color
I'm not sure if it's a bug or a feature

[2013-01-20 06:58] kerrishotts commented on #67
Yes; they work differently now. May have an option to switch between the two, but generally, the colors didn't play well on the darker themes, so to keep the text readable, I kept the highlight color from filling the entire background.

[2013-01-21 01:33] kerrishotts commented on #53
Closing for the time being, since this is addressed by removing these G#s from display in 1.2. Since they are morphological references, they compete with the existing morphology anyway, so I'm not sure how much value they add.

If I find a source that gives me the data for these #s, I'll reconsider at that point.

[2013-01-21 01:33] #53 closed, assigned to kerrishotts

[2013-01-21 21:33] kerrishotts commented on #41
Initial support is in as of build 1.2.5061. Not 100% certain this is a good place for it now, though, as you can do some funny things with the keyboard, plus you can have multiple search views open at once (notes + bible search, e.g.)

But I'll let it go for now.

[2013-01-21 21:35] kerrishotts commented on #15
Going to drop this for now; the additions to the Bible view on the iPad make this untenable for now, simply due to lack of horizontal space.

[2013-01-21 21:35] #15 closed, assigned to kerrishotts

[2013-01-21 21:37] kerrishotts commented on #12
Updated title to change to sync support rather than just iCloud.

[2013-01-21 21:40] kerrishotts commented on #8
Edited title

[2013-01-27 23:26] kerrishotts opened #68 "Remove Notification when Copying Strong's"
Reported by @AdamDenoon

[2013-01-27 23:28] kerrishotts opened #69 "G3089, G2476 have missing information at the end"
Reported by @AdamDenoon

G2476
Lemma: ἵστημι
Pronunciation: his'-tay-mee
Definition: a prolonged form of a primary στάω (of the same meaning, and used for it in certain tenses); to stand (transitively or intransitively), used in various applications (literally or figuratively) :--abide, appoint, bring, continue, covenant, establish, hold up, lay, present, set (up), stanch, stand (by, forth, still,

[2013-01-27 23:33] kerrishotts opened #70 "Add Zhodiates #s"
Requested by @AdamDenoon.

Copyrighted. Would require rights from the rights-holder.

[2013-01-27 23:33] kerrishotts opened #71 "Add Kittel #s"
Suggested by @AdamDenoon

Copyrighted. Would require release from the rights-holders.

[2013-01-27 23:34] kerrishotts opened #72 "Add Commentary Support"
Definitely something I want to add -- even if we only support free commentaries to start.

[2013-01-27 23:36] kerrishotts opened #73 "Add Alternate Lexicon Support"
For example, Kittel. Or any number of the free lexicons/dictionaries that are available.

If indexed to Strong's #, all the better, though this won't always be possible. Essentially, I think, the Strong's Search would become "Search Lexicons", and any lexicon results that matched would be returned?

[2013-01-28 04:14] kerrishotts commented on #69
Fixed in latest build.

[2013-01-28 04:14] #69 closed, assigned to kerrishotts

[2013-01-28 04:15] kerrishotts commented on #68
Fixed in latest build

[2013-01-28 04:16] #68 closed, assigned to kerrishotts

[2013-02-01 21:46] #67 closed, assigned to nobody

[2013-02-01 21:47] kerrishotts commented on #58
Closing as we're in all but the UK. Waiting on the UK until I get information from Cambridge on the KJV.

[2013-02-01 21:47] #58 closed, assigned to kerrishotts

[2013-02-01 21:48] kerrishotts commented on #59
Bible Download Support is now in-place as of the latest 1.2 build.

[2013-02-01 21:48] #59 closed, assigned to kerrishotts

[2013-02-16 11:37] jcesarmobile opened #74 "Launch image fadeout animation on landscape"
When you launch the app on landscape, the fade out animation of the launch image shows the image on portrait

[2013-02-16 11:46] jcesarmobile opened #75 "Search tab takes a lot of time to load"
STR:
1. Go to search tab
2. Search Jesus
3. Change tab
4. Go back to search tab
( you'll notice that it takes some time to load te tab and the app seems unresponsive)

[2013-02-16 11:52] jcesarmobile opened #76 "Strong remember the search term, but not the search result"
STR
1. Go to strongs tab
2. Search something
3. Quit the app
4. Force close of the app
5. Open the app
6. Go to the strongs tab
You'll see the search term, but not the search result.
It should remember both or none of them.
And it should be consistent with the search tab

[2013-02-18 22:50] kerrishotts commented on #74
I assume this is for iPhone? Yes, it does funny things there, doesn't it...

[2013-02-18 22:53] kerrishotts commented on #76
Somewhat by design -- I don't want the first load of the Strong's tab to take a long time in case the search was a really complicated one. Since the history maintains the last search, I'm not sure how important it is that the search bar retains the last search, especially with some of the new changes (where the view can be used in many different places).

[2013-02-18 22:58] kerrishotts commented on #75
Seems related to searches that return a large # of results. A smaller search doesn't freeze the app when switching to the tab. It may be related to the view recalc'ing all the table row heights... I've got quite a few ideas on changing the search view, so this may go away on its own when I make those changes.

[2013-02-18 23:07] #41 closed, assigned to kerrishotts

[2013-02-19 02:29] kerrishotts commented on #74
No easy solution, as far as I can tell. There's no way to give it a landscape-style splash until the app gets control, and by the time the app gets control the splash has already been displayed by the OS. So switching the splash would be problematic.

The only thing I know to do is to remove the splash screen upon the detection of rotation, which the view does get upon launch. The transition is ab

[2013-02-19 02:29] #74 closed, assigned to kerrishotts

[2013-02-19 04:41] kerrishotts commented on #75
Fixed; The search views now store the height of each cell as they are calculated in case they are displayed again. This seems to keep even long searches fast (beyond the initial search, of course).

[2013-02-19 04:41] #75 closed, assigned to kerrishotts

[2013-02-19 04:44] kerrishotts commented on #76
For now I'm letting the search controllers remember the search term without remembering the search result -- mainly because a complicated search term could cause the initial load of the view to take considerable time. I have added text, however, that indicates that a re-search will display the results.

I did, however, make Search/Strong's consistent in that they both remember the previous search

[2013-02-19 04:44] #76 closed, assigned to kerrishotts

[2013-02-19 10:09] jcesarmobile commented on #74
No, the problem was on the iPad, I didn't tested on my iPod.

The problem was, the app displays the landscape launch image because the app was in landscape (as expected), and then, when you do the fadeout animation, the image you use for the fade out animation was a portrait image, I mean, it was correctly oriented (text readable on landscape) but with portrait size.

[2013-02-19 15:19] kerrishotts commented on #74
The only time I saw that was if the device was rotated as the app opened.
The latest code fixes that.

OTH, if you're seeing the wrong splash image with no intervening
orientation change, odd. What version of OS and iteration of iPad?

On Feb 19, 2013, at 4:09, "Julio César" notifications@github.com wrote:

No, the problem was on the iPad, I didn't tested on my iPod.

The problem was, the app disp

[2013-02-19 15:30] jcesarmobile commented on #74
It's not happening on the latest version, in fact, there is no fade out animation on the latest version xD

I just wanted to explain the bug a bit better in case you want to implement the fade out animation again

[2013-02-19 19:07] kerrishotts commented on #74
Odd.

I'm getting a fade here. What iOS version? iPad 1, 2, 3, etc.?

On Feb 19, 2013, at 9:30, Julio César notifications@github.com wrote:

[2013-02-19 19:23] jcesarmobile commented on #74
Not working on iPad 2 5.0.1 and iPod touch 4G 5.1
Working on iPad 4 6.1

[2013-02-19 19:49] kerrishotts commented on #74
Hmmm,... It must be iOS 5 related. I haven't seen the simulator do anything odd with iOS 5, but hey - it does a lot of things the real devices do and vice versa...

On Feb 19, 2013, at 13:23, Julio César notifications@github.com wrote:

[2013-02-27 06:42] kerrishotts opened #77 "Non-extending highlight extends into note area when notes are displayed inline"

[2013-03-01 04:47] #77 closed, assigned to kerrishotts

[2013-03-08 06:06] kerrishotts opened #78 "New Typesetter messes with compressed right-side text"

[2013-03-10 02:59] #78 closed, assigned to kerrishotts

[2013-03-10 07:45] kerrishotts commented on #8
It's not perfect, no.

But I'm closing it for now.

[2013-03-10 07:45] #8 closed, assigned to kerrishotts

[2013-03-12 04:27] kerrishotts opened #79 "Searches with extra spaces (or only spaces) crash the app"
-[__NSCFString characterAtIndex:]: Range or index out of bounds
5 gbible 0x000ab8cd +[PKBible passagesMatching:withGreekBible:andEnglishBible:](PKBible.m:1059)
6 gbible 0x000ab779 +[PKBible passagesMatching:requireParsings:](PKBible.m:1031)...

0 CoreFoundation 0x3716888f __exceptionPreprocess + 163
1 libobjc.A.dylib 0x34e6d259 objc_exception_throw + 33
2 CoreFoundation 0x37168789 +[NSException ra

[2013-03-12 04:30] #79 closed, assigned to kerrishotts

[2013-03-12 04:35] kerrishotts commented on #65
Moving to v2

[2013-03-12 04:36] kerrishotts commented on #9
Localization is a never-ending issue; since the app supports it now, I'm going to go ahead and close this issue. Of course, adding additional languages and updating existing ones will always need to be done in the future.

[2013-03-12 04:36] #9 closed, assigned to kerrishotts

[2013-03-12 04:36] kerrishotts commented on #12
Dropbox Sync looks promising.

[2013-03-12 04:37] kerrishotts commented on #38
WH has diacritics. Finding other texts that support diacritics has been nearly impossible. Should I come across a parsed edition of BYZ/TR that supports it, I'll add it.

For now, I'm closing.

[2013-03-12 04:37] #38 closed, assigned to kerrishotts

[2013-03-12 04:49] kerrishotts commented on #31
Can't duplicate with AppleTV; closing.

[2013-03-12 04:49] #31 closed, assigned to kerrishotts

[2013-03-24 13:48] nicholasyeomans opened #80 "Unable to download KJV bible"
Hi - i am unable to download the king james bible.
In manage bibles i select the kjv bible click on free then download, it then downloads all verses but returns to initial screen with Free button to download.
Please let me have suggestion how i can resolve this

Thanks

Nick

[2013-03-25 20:33] kerrishotts commented on #80
What country are you from? The KJV is currently restricted in certain areas as I work out the necessary license with the UK.

[2013-03-25 20:48] nicholasyeomans commented on #80
Hi i am from the uk

[2013-03-25 20:51] kerrishotts commented on #80
So yeah,

I'm sorry, but the KJV is Crown-Copyright, which means I can't rightly distribute it without permission. I am currently working with Cambridge on receiving this permission, but it would be unethical for me to allow its use within the app without it.

Unfortunately, that you can see it in order to download it is a problem -- I thought I had code to prevent that from happening. So, there i

[2013-03-25 20:55] nicholasyeomans commented on #80
Thanks for clarifying - do you have NIV or the living bible translations available?

[2013-03-25 21:04] kerrishotts commented on #80
I wish I could, but those are copyright by their respective owners. The NIV, at least, has pretty onerous licensing terms, starting at 10K (USD) up front and then a pretty hefty percentage of each sale. I don't have a problem with the per-sale percentage, but unless you have 10K, or someone donates it, I'm afraid there's nothing I can do about procuring the necessary license. Likewise, the Living

[2013-03-25 21:20] jcesarmobile commented on #80
Same problem here. I'm from Spain.

[2013-03-25 21:28] kerrishotts commented on #80
@jcesarmobile The KJV is still limited in the EU; I meant to disable this for 1.2, but for whatever reason, it didn't get enabled. 1.3 (or perhaps 1.2.1) will permit everyone in the EU (outside the UK) to download and use the KJV. Once I receive permission for the UK, the next version after will permit download in that region.

So, there's technically a bug: you shouldn't be able to download the K

[2013-04-19 17:51] DikBSD opened #81 "Add Russian Bible (with Strong)"
Please, add Russian Bibles (with Strong numbers).

[2013-04-23 15:14] kerrishotts commented on #81
Hi - thanks for the suggestion. Do you have any particular Russian translation in mind that is rights-free? (That is, I can't publish copyright material, but public-domain or some Creative Commons material is fine.) I don't know Russian, so I don't particularly know which versions out there are well-regarded.

[2013-04-23 16:09] DikBSD commented on #81
Hi, Kerri !
Thanks for the response.
I will look Russian Bible of the free  license and I will send it to you.
In what format?

Vadim

[2013-04-23 16:13] kerrishotts commented on #81
Format doesn't matter terribly, open texts (or public domain) are usually in plain-text, XML, or some other format (like SWORD). I'd appreciate it if you could find electronic copies, but if you just have the names of some translations in mind, I can probably take care of the rest.

On Tuesday, April 23, 2013 at 11:09 AM, DikBSD wrote:

[2013-04-23 16:25] DikBSD commented on #81
The Russian Synod translation (RST) of 1876 years - freely extends. In
SWORD there is this RST module.
If you don't find RST, I will send it tomorrow to you.
Thanks for your program.

[2013-04-23 17:29] DikBSD commented on #81
Kerri, on the CrossWire site there is a module of the Russian Bible with
Strong Numbers (RusVZh Russian New Testament with Strong's Numbers under
edition of Victor R. Zhuromsky):
http://crosswire.org/sword/servlet/SwordMod.Verify?modName=RusVZh&pkgType=raw

[2013-04-24 08:24] DikBSD commented on #81
Hi, Kerri!
Russian Synodal Version (OT and NT) Without Strong Munbers:
http://www.biblegateway.com/versions/index.php?action=getVersionInfo&vid=13#copy
Public Domain

[2013-04-25 04:07] kerrishotts commented on #81
Thanks! I'll take a look and see what I can do on getting a version available!

[2013-04-25 07:23] DikBSD commented on #81
Kerri, Thanks!

[2013-05-16 21:43] tinalegre opened #82 "PKAppDelegate.m missing"
Dear all,

I'm having some difficulties in running the gbible Xcode Project. More precisely, I get the following error message:

clang: error: no such file or directory: '/Users/xxxx/Documents/xxxxx/gbible/gbible/PKAppDelegate.m'
clang: error: no input files
Command /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/clang failed with exit code 1

Any ideas/sugge

[2013-05-19 10:15] likenew commented on #82
me too

[2013-05-23 09:54] Stevekav opened #83 "No menu items and can't click through"
hi, i have iPad 1 running ios 5.1.1 and installed version 1.2 after seeing the instructions on your website and the screen shots on itunes. When the app opens, however, it looks like the first screenshot on itunes, but i can't get anything to work, there is not lower menu or buttons with words on them and i can't bring up amy morphology, strongs or anything. What am i doing wrong, missing or is it

[2013-05-24 18:29] kerrishotts commented on #83
Not entirely sure which screenshots you're referring to: the 1.2 update did away with the tab bar at the bottom of the screen: everything is now accessible via the left-hand sidebar or the "settings" icon on the Bible view. It's possible I missed some of that in the help file, but pretty sure I updated all the screenshots to indicate the change.

That said, if you long-press on a specific strong's

[2013-05-24 18:32] kerrishotts commented on #82
My apologies: I was doing some thing funky with git and it nuked the file. Lovely, right? ;-) I'll see what I can do about getting it back. (You might try the 1.3 branch's version, but it might be too far changed to work on 1.2)

[2013-05-25 03:31] Stevekav commented on #83
Hi Kerri,

Thank you so much for the wonderful app and all the hard work that has gone into it!

I originally tapped the word or strongs number and the whole verse was highlighted. I did not realise that the menue that came op on hold was not the normal one - copy, select, select all, but had many more options to it.

A suggestion for old guys like myself :) is to maybe in the help when a pictire

[2013-05-29 23:34] kerrishotts commented on #82
Closing for now; I've added the file back to the master branch. Be sure to build with the 1.3 branch if you want the bleeding-edge version that is under development.

Do let me know if you still have problems compiling 1.2.

[2013-05-29 23:34] #82 closed, assigned to nobody

[2013-05-29 23:39] kerrishotts commented on #83
Glad that worked for you.

I agree, the menu works very oddly under iOS 5 -- this is something to do with iOS 5 itself. Under iOS 6, the menu is much better on the iPad. There are a few things that don't translate as well to iOS 5 as they do on iOS 6.

The help system itself is going to go under a lot of revision in 1.3, so hopefully that will address any issues with the help files.

If you have a

[2013-05-29 23:39] #83 closed, assigned to nobody

[2013-05-30 00:24] Stevekav commented on #83
Hi Kerri

Hope to upgrade to IOS 6 capable (hate how Apple not upgrading iPad 1!). Happy to beta test.

Kind regards

Steve

Sent from my iPhone

On 30/05/2013, at 9:39 AM, Kerri Shotts notifications@github.com wrote:

[2013-05-30 06:14] aendru opened #84 "Greek accents"
Greek Accents do not seem to show in the app. Is this a matter of configuration? If so, I'd be thankful to learn how to turn them on :-)

Thanks!

[2013-05-31 21:34] kerrishotts commented on #84
Greek accents are available only on the Westcott-Hort edition. The electronic sources used for Byzantine / Textus Receptus / Tischendorf do not supply any diacritics, and so the app itself can't render them either, unfortunately. If you know of any rights-free digital sources that provide these diacritics, I'd be happy to hear about it, but so I've yet to find a fully parsed edition of any of thes

[2013-08-14 02:12] kerrishotts opened #85 "Add signal when copying verses to the clipboard"
Requested by @AdamDenoon.

[2013-08-14 02:20] AdamDenoon commented on #85
Hey, long time no escuchen, man! :)

Sent from my iPad

On 2013-08-13, at 9:12 PM, Kerri Shotts notifications@github.com wrote:

[2013-08-14 03:38] kerrishotts opened #86 "Bug: When changing layout, the scroll moves to the 2nd verse if the previous position was near the top of the view"

[2013-08-14 06:25] kerrishotts opened #87 "iPhone Landscape Navbar heights need to be handled correctly"
For content offsets on sidebar, for navigation bars everywhere, and it needs to work through rotation

[2013-09-11 09:46] pastormau opened #88 "Does not instal bible versions, not even KJV"

[2013-09-13 06:38] #85 closed, assigned to kerrishotts

[2013-09-13 06:38] #86 closed, assigned to kerrishotts

[2013-09-13 06:38] #87 closed, assigned to kerrishotts

[2013-09-13 06:40] kerrishotts commented on #88
When the Bible version is installing, do you get a progress indicator? Do you get a "Success" indication after it is finished? Is the version then visible in the list of Installed Bibles, or does it show as Downloadable?

[2013-09-15 01:34] wielo777 opened #89 "Dutch Bible"
Hello, I am looking forward to have also a Dutch bible inthe app. Are there any plans.
Regards,
Wim Verwijlen

[2013-09-16 22:51] kerrishotts commented on #89
Hi! I'd love to add a Dutch version, but would need one that is known to be public-domain (or otherwise rights-free). If you know of a good version that is well respected, please, let me know.

[2013-10-20 17:28] netnut404 opened #90 "IPhone 5 6.1.2 crash on font color change"
In the latest version of the Greek interlinear Bible it crashes if I try to change the color of the font. This did not occur in the previous version.

[2013-11-08 17:00] DikBSD commented on #81
Kerri, Please, add Russian Bibles (with Strong numbers).

[2013-11-21 02:28] jackiehaws opened #91 "English under Greek"
I can not get the English words under the Greek words with the Textus Receptus Greek and King James Version.  What am I doing wrong?  I can get the English words with the Westcott and Hort graham and King James Version.  I purchased this app because it was shown with the English words and did not say it would not work with the Textus Receptus.

Jackie

[2013-11-21 02:28] #91 closed, assigned to nobody

[2013-12-23 15:44] kerrishotts commented on #90
Wow -- My github has been hiding this from me for a couple months -- my apologies! I must have a filter set that prevented me from seeing this.

The problem is, I think, related to some theming differences in iOS 6 vs iOS 7. I've got some crash reports and will be releasing a new version after the holidays to fix the issue.

Again, my apologies on the long delay -- I've checked Github frequently a

[2013-12-23 16:14] netnut404 commented on #90
No problem I just upgraded to iOS seven last night anyway

[2015-08-26 16:59] AdamDenoon opened #92 "Platform Request - Android"
Have you considered porting this code to Java for making the app available on the Play Store, Kindle, etc.? I still use the app on my iPad (just about every day), but, since I switched to using an Android phone, I've been absolutely disappointed by the Play Store's lack of a tool like this. It would be the very first of its calibre on the Play Store.

[2017-01-02 09:43] dabhursin commented on #91
I'm having the same problem. The English words are not under the Greek words?  How do I fix this issue?

[2017-01-06 17:34] kerrishotts commented on #91
Which text(s) are you using on the left & and right sides? It's possible that the left-side text you're using doesn't have interlinear glosses. Switch to WHP or download ABP and see if that helps.

[2017-01-09 05:32] dabhursin commented on #91
I am using my iPhone 7.  I tried changing the text.  I had no luck. You talked about downloading APB?

Sent from my iPhone

[2017-01-09 20:16] kerrishotts commented on #91
OK -- go into Settings (tap the gear icon). What do you have set for "Show Translation?"? If it's "No", tap it to switch back to "Yes". You'll have your Greek text set to WHP (Westcott Hort) or ABP (Apostolic Bible Polyglot) to see the translations.

You can download the ABP (Apostolic Bible Polygot) by navigating to Settings (gear icon) > Manage Bibles > Scroll down until you see the ABP & tap it

[2017-01-10 02:08] dabhursin commented on #91
I think I have it working now. Thank you for your help! I greatly appreciate it.
David Hursin

Sent from my iPhone

[2017-10-21 07:51] sebma commented on #92
Hi, I don't have any iOS device yet :(

I would be really great if this application was ported to Android :)

[2021-12-14 23:45] username17254321 opened #93 "Scroll view position (last verse read) is adjusted after app resume"
I’m on an iPad in landscape and using adjusted text sizing (haven’t checked different configs yet).

When I leave the app and come back, the scroll view moves about 1/2 chapter in reverse.

[2021-12-14 23:46] username17254321 commented on #93
I was going to test it out myself in xcode, but looks like there is a lot of work to be done to get this project to build.